<ion-header >
  <ion-toolbar color="danger">
    <ion-title>Inicio conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; text-align: center; align-items: center; justify-content: center;" >
    <h1>Hola, </h1><h1 style="color: blue;"> Juan Lopez</h1><br>

  </div>
 
    <img style="width: 200px; height: 200px; margin: auto; display: block; border-radius: 50%; background-color: black; border: 8px solid transparent; border-color: red;" src="assets/img/c.png">  
<ion-button style="margin: auto; display: block; width: 100px; height: 40px; font-size: 10px;">Cambiar foto</ion-button>
<ion-item style="background-color: darkred; width: 500px; height: 150px; text-align: center; align-items: center;">
  <h2 style="color: silver; font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Opciones</h2>

</ion-item>

<div style="display: flex; background-color: darkred;">
  <ion-button style="margin-bottom: 30px; " color="success">Programar Viaje</ion-button>
  <ion-button style="margin-bottom: 30px; font-size: 13px; " color="dark">Modificar Vehiculo</ion-button>
</div>
</ion-content>
