
<ion-content>
  <ion-content style="border: 1px outset rgba(19, 132, 160, 0.72);">
    <div class="container" >
      <div class="caja">
        <div class="item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-list>
            <ion-label><b>Nombre Completo:</b></ion-label>
            <h5>"nombre del usuario"</h5>
          </ion-list>
          <ion-list>
            <ion-label><b>Comuna de Residencia:</b></ion-label>
            <h5>"Comuna de Residencia"</h5>
          </ion-list>
          <br>
          <ion-button routerLink="/vehiculos">Cambiar a Chofer</ion-button>
        </div>
        <div class="item2" >
          <ion-button routerLink="/cambio" size="small" >Reestablecer Contraseña</ion-button>
        </div>
        
      </div>
    </div>
  </ion-content>
  
  
  



  
</ion-content>

