ion-header {
    height: 30%;
    background-color: green;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    

}

.titulo {
    margin-top: auto;
    display: block;
}

ion-footer{
    text-align: center;
    justify-content: center;
}

ion-item {
    margin-bottom: 15px;
}