ion-content.bg-image {
    --background: url('../../assets/img/al.jpg');
    --background-repeat: no-repeat;
    --background-position: center;
    --background-size: contain;

}



.custom-shape-divider-top-1632888877 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632888877 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1632888877 .shape-fill {
    fill: #F1F1F1;
}