<ion-content style="border: 1px outset rgba(19, 132, 160, 0.72);">
  <div class="container" >
    <div class="caja">
      <div class="item">
        <ion-label> <strong>Bienvenido "nombre usuario"</strong> </ion-label>
        <br>
        <br>
        <ion-label>-Hora termino del servicio: 23:30hrs</ion-label>
        <br>
        <ion-label>-Hora del toque de queda 00:00</ion-label>
      </div>
      <div class="item" >
        <ion-icon name="car-outline"></ion-icon> 2 Vehiculos disponibles<ion-label></ion-label>
        <ion-button size="small">Selecciona un vehiculo</ion-button>
      </div>
      
    </div>
  </div>
</ion-content>