ion-item{
    margin-top: -10px;
}


.contenido {
    background-color: blue;
     margin-top: 40px;
      width: 90%;
       display: block;
       margin-right: auto; 
       margin-left: auto;
       border-radius: 20px;
}